services:
  machine1:
    container_name: machine_1
    image: ps/custom_debian:12
    build:
      context: .
    networks:
      machines-private-network:
        ipv4_address: 192.168.56.2 
        ipv6_address: fc00:1::2
      machines-private-network2:
        ipv4_address: 192.168.1.2
        ipv6_address: fc00:2::2
      nat_network:
    privileged: true
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65535
      - net.ipv4.tcp_fin_timeout=15
      - net.ipv4.tcp_tw_reuse=1
    volumes:
      - .:/data
    command: tail -f /dev/null


  machine2:
    container_name: machine_2 
    image: ps/custom_debian:12
    networks:
      machines-private-network:
        ipv4_address: 192.168.56.3
        ipv6_address: fc00:1::3
      machines-private-network2:
        ipv4_address: 192.168.1.3
        ipv6_address: fc00:2::3
      nat_network:
    privileged: true
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65535
      - net.ipv4.tcp_fin_timeout=15
      - net.ipv4.tcp_tw_reuse=1
    volumes:
      - .:/data
    command: tail -f /dev/null

    
  machine3:
    container_name: machine_3
    image: ps/custom_debian:12
    networks:
      machines-private-network:
        ipv4_address: 192.168.56.4
        ipv6_address: fc00:1::4
      machines-private-network2:
        ipv4_address: 192.168.1.4
        ipv6_address: fc00:2::4
      nat_network:
    privileged: true
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65535
      - net.ipv4.tcp_fin_timeout=15
      - net.ipv4.tcp_tw_reuse=1
    volumes:
      - .:/data
    command: tail -f /dev/null

  machine4:
    container_name: machine_4
    image: ps/custom_debian:12
    networks:
      machines-private-network:
        ipv4_address: 192.168.56.5
        ipv6_address: fc00:1::5
      machines-private-network2:
        ipv4_address: 192.168.1.5
        ipv6_address: fc00:2::5
      nat_network:
    privileged: true
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65535
      - net.ipv4.tcp_fin_timeout=15
      - net.ipv4.tcp_tw_reuse=1
    volumes:
      - .:/data
    command: tail -f /dev/null
    
networks:
  machines-private-network:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: 192.168.56.0/24
        - subnet: fc00:1::/64
  machines-private-network2:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: 192.168.1.0/24
        - subnet: fc00:2::/64

  nat_network:
    driver: bridge